body {
	font-family: 'Roboto', sans-serif;
}

.content {
	max-width: 800px;
	margin: 0 auto;
}

h1 {
	font-size: 30px;
	color: #2168b1;
	border-bottom: solid 1px #aaa;
	margin-bottom: 1em;
	font-family: 'Oswald', sans-serif;
}

#dashboard {
	width: 100%;
	background-color: rgb(255,211,224);
	padding: 20px 0px;
	position: absolute;
	top: -92px;
	left: 0;
	z-index: 100;
}
#dashboard img {
	margin-bottom: 20px;
	border: 1px solid rgb(0,0,0);
}
    
    





